:root {
  --yellow-color: #f7df1e;
  --dark-color: #222;
}

* {
  margin: 0;
  padding: 0;
}

.cards{
  border: thin solid var(--yellow-color);
  padding: 1rem;
  margin-top: 1rem;
}

.card {
  display: inline-block;
  background-color: var(--dark-color);
  color: var(--yellow-color);
}

.card figcaption {
  padding: 1rem;
}

.rotate-45 {
  transform: rotate(45deg);

}

.rotate-135 {
  transform: rotate(135deg);
}

.opacity-80 {
  opacity: 0.8;
}

.sepia {
  filter: sepia(1);
}
